@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

/* Transisi halus saat pindah Dark Mode */
body {
  @apply bg-slate-50 text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}

/* Scroll Reveal States */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

/* --- Custom Scrollbar --- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-50 dark:bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-800 rounded-full border-2 border-transparent bg-clip-content;
  border-width: 3px;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-500 dark:bg-indigo-600;
}
