@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

/* Transisi halus saat pindah Dark Mode */
body {
  @apply bg-slate-50 text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}

/* Scroll Reveal States */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}
